<ion-list>
    <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado: terminada" (click)="listaSeleccionada(lista)">
        <button ion-item>
                    {{ lista.titulo }}
                       <ion-note item-end>
                          {{lista.items.length}} items
                      </ion-note>
            </button>
        <ion-item-options side="left">
            <button (click)="borrarLista(lista)" ion-button icon-only color="danger">
                        <ion-icon name="close"></ion-icon>

            </button>
        </ion-item-options>
    </ion-item-sliding>


</ion-list>